.counter {
    margin: 50px auto;
    border: 2px solid black;
    width: 300px;
}

.display {
    height: 50px;
    border: 2px solid black;
    margin: 10px;
   display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
.currentButton {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.currentButton button {
    font-size: 30px;
}
.display2 {
    height: 50px;
    border: 2px solid black;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: red;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.App {
    display: flex;
}